@import url('https://fonts.googleapis.com/css2?family=Glory:ital,wght@1,400;1,700&display=swap');


body {
    font-family: 'Glory', sans-serif;
    line-height: 1.5;

}
h1 {
    font-weight: 400;
    font-size: 70px;
    line-height: 5;
    
}

#main{
    position: relative;
    height: 100vh;
    display: center;
    width: 2400px;
    height: 1200px;



    justify-content: center;
    align-items: center;
}

#image-container{
    justify-content: center;

}